@import "tailwindcss";

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.instrument-sans {
  font-family: "Instrument Sans", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-roblox {
  /*width: 1.06640625em;*/
}
