@import "tailwindcss";

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.instrument-sans {
  font-family: "Instrument Sans", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transform: translate(74px,0px);
}
