@import "../../../node_modules/tailwindcss/dist/lib.d.mts";

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transform: translate(0px,-1px);
}

/* prevent ring for command line */
:where(textarea),
:where(input[type="text"]){
  appearance: none;
  border-style: solid;
  outline: none;
}